### group-by

I'm trying to figure out how to group the pen data. Initially by date created, so we can see things like how many objects were collected for a given day of the week.

In [1]:
## read in the data as a pandas object
import pandas as pd
pen_df = pd.read_csv('../the-pen-data/data/pen-collected-items.csv')

## show the first 10 rows
pen_df[:10]

   id  tool_id bundle_id  refers_to_object_id     created
0   0        0      54Sa             18356743  1414081555
1   1        0      54ZB             18316213  1414432504
2   2        0      55ap             18637615  1414526581
3   3        0      55ap             18643273  1414526584
4   4        0      55bK             18448597  1414529537
5   5        0      55cZ             18319373  1414530977
6   6        0      55cZ             18653811  1414530973
7   7        0      55gr             18481649  1414536158
8   8        0      55gr             18575263  1414536160
9   9        0      55ji             18346169  1414617054

In [2]:
## convert the unix timestamp to a datetime object

pen_df['created'] = pd.to_datetime(pen_df['created'].astype(int), unit='s')
pen_df

              id  tool_id bundle_id  refers_to_object_id             created
0              0        0      54Sa             18356743 2014-10-23 16:25:55
1              1        0      54ZB             18316213 2014-10-27 17:55:04
2              2        0      55ap             18637615 2014-10-28 20:03:01
3              3        0      55ap             18643273 2014-10-28 20:03:04
4              4        0      55bK             18448597 2014-10-28 20:52:17
5              5        0      55cZ             18319373 2014-10-28 21:16:17
6              6        0      55cZ             18653811 2014-10-28 21:16:13
7              7        0      55gr             18481649 2014-10-28 22:42:38
8              8        0      55gr             18575263 2014-10-28 22:42:40
9              9        0      55ji             18346169 2014-10-29 21:10:54
10            10        0      55ji             18452185 2014-10-29 21:10:57
11            11        0      55qn             18382947 2014-10-29 23:32:42
12            12        0      55qn             18609951 2014-10-29 23:32:45
13            13        0      55qX             18114821 2014-10-29 23:43:37
14            14        0      55qX             18222401 2014-10-29 23:43:40
15            15        0      55rT             18404533 2014-10-30 00:14:08
16            16        0      55rT             18543323 2014-10-30 00:14:06
17            17        0      55s6             18667471 2014-10-30 00:16:57
18            18        0      55sg             18390415 2014-10-30 00:21:43
19            19        0      55sg             18481785 2014-10-30 00:21:40
20            20        0      55st             18135815 2014-10-30 00:23:55
21            21        0      55sD             18101953 2014-10-30 00:29:18
22            22        0      55sD             18634965 2014-10-30 00:29:21
23            23        0      55GD             18381885 2014-11-03 18:32:37
24            24        0      55GD             18398331 2014-11-03 18:32:40
25            25        0      55GD             18411361 2014-11-03 21:38:29
26            26        0      55GD             18444389 2014-11-03 20:42:47
27            27        0      55GD             18638361 2014-11-03 22:16:46
28            28        0      55GD             18665301 2014-11-03 18:37:06
29            29        0      55GD             18677737 2014-11-03 21:38:32
...          ...      ...       ...                  ...                 ...
3599705  4202770       14     9gavT                    0 2016-02-15 21:08:50
3599706  4202771       16     9gavT                    0 2016-02-15 21:17:35
3599707  4202772        3     9gavT                    0 2016-02-15 22:11:24
3599708  4202773        3     9gavT                    0 2016-02-15 22:13:57
3599709  4202774        3     9gavT                    0 2016-02-15 22:16:29
3599710  4202775        3     9gavT                    0 2016-02-15 22:37:47
3599711  4202776        3     9gavT                    0 2016-02-15 22:38:04
3599712  4202777        3     9gavT                    0 2016-02-15 22:44:46
3599713  4202778        3     9gavT                    0 2016-02-15 22:46:59
3599714  4202779       15     9gavT                    0 2016-02-15 22:52:11
3599715  4202780       16     9gaRi                    0 2016-02-15 22:05:34
3599716  4202781       14     9gb9k                    0 2016-02-15 22:19:04
3599717  4202782       14     9gb9k                    0 2016-02-15 22:19:12
3599718  4202783        3     9gbqT                    0 2016-02-15 22:06:58
3599719  4202784       14     9gbqT                    0 2016-02-15 22:19:29
3599720  4202785        3     9gbtB                    0 2016-02-15 22:41:51
3599721  4202786        3     9gbtB                    0 2016-02-15 22:50:55
3599722  4202787       11     9gbWD                    0 2016-02-15 21:42:00
3599723  4202788       13     9gcna                    0 2016-02-15 21:31:26
3599724  4202789       11     9gcGF                    0 2016-02-15 22:09:20
3599725  4202790       14     9gcNv                    0 2016-02-15 22:17:03
3599726  4202791       13     9gcNv                    0 2016-02-15 22:20:23
3599727  4202792       12     9gcPB                    0 2016-02-15 22:14:51
3599728  4202793       13     9gcPB                    0 2016-02-15 22:16:56
3599729  4202794       16     9gcPB                    0 2016-02-15 22:19:38
3599730  4202795       11     9gcPB                    0 2016-02-15 22:20:26
3599731  4202796        3     9gcZR                    0 2016-02-15 22:55:03
3599732  4202797       12     9ggYr                    0 2016-02-15 22:02:39
3599733  4202798        3     9gm8g                    0 2016-02-15 22:49:06
3599734  4202799        3     9gm8k                    0 2016-02-15 22:49:34

[3599735 rows x 5 columns]

In [3]:
## group the created column by 'dayofweek'
groups = pen_df.groupby(pen_df['created'].dt.dayofweek)

## show the results using the describe function
groups['created'].describe()

created
0        count                  430856
         unique                 270017
         top       2016-02-15 21:05:20
         freq                       74
         first     2014-10-27 17:55:04
         last      2016-02-15 22:58:35
1        count                  425680
         unique                 274933
         top       2015-05-05 15:03:02
         freq                       28
         first     2014-10-28 20:03:01
         last      2016-02-09 22:36:05
2        count                  416348
         unique                 267415
         top       2016-02-10 16:30:24
         freq                       37
         first     2014-10-29 21:10:54
         last      2016-02-10 22:23:15
3        count                  392786
         unique                 259895
         top       2016-02-11 20:48:55
         freq                       37
         first     2014-10-23 16:25:55
         last      2016-02-11 21:53:28
4        count                  468226
         unique                 298381
         top       2016-02-12 20:35:51
         freq                       47
         first     2014-10-24 15:05:35
         last      2016-02-12 22:58:30
5        count                  781338
         unique                 469540
         top       2016-02-13 20:05:19
         freq                       78
         first     2014-08-16 23:13:24
         last      2016-02-13 23:59:59
6        count                  684501
         unique                 412883
         top       2016-02-14 20:44:56
         freq                       72
         first     2014-11-16 16:59:39
         last      2016-02-14 23:00:30
dtype: object

In [4]:
## show just the size info for each day of the week.
created = groups['created']
created.size()

created
0    430856
1    425680
2    416348
3    392786
4    468226
5    781338
6    684501
dtype: int64